<div class="p-3">
  <div class="card">
    <div class="card-header">
      Product ID = {{productId}}
    </div>
    <div class="card-body">
      <form [formGroup]="productFormGroup" (ngSubmit)="updateProduct()">
        <div class="mb-3">
          <label class="form-label">Name</label>
          <input class="form-control" formControlName="name">
        </div>
        <div class="mb-3">
          <label class="form-label">Checked</label>
          <input type="checkbox" class="form-check-input" formControlName="checked">
        </div>
        <button [disabled]="productFormGroup.invalid" class="btn btn-success" type="submit">Save</button>
      </form>
    </div>
  </div>
</div>
